@import '..\\styles\\main.scss';

.agreement{
  background: #F2F7FF;
  width: 100%;
  overflow-x: hidden;
  .pdf {
    width: 690rpx;
    margin: 0 auto;
    height: 1263rpx;
    overflow-x: hidden;
    padding-bottom: 150rpx;
    image{
      width: 100%;
      height: 100%;
    }
    .title {
      font-size: 50rpx;
      font-weight: 700;
      text-align: center;
      letter-spacing: 16rpx;
    }
    .ts {
      font-size: 40rpx;
      font-weight: 700;
      text-align: center;
      letter-spacing: 6rpx;
    }
    .jsyh{
      font-size: 32rpx;
      letter-spacing: 3rpx;
      margin-bottom: 10rpx;
    }
    .contont{
      font-size: 32rpx;
      text-indent:64rpx;
      line-height: 56rpx;
      margin-bottom: 20rpx;
    }
    .userInfo{
      width: 100%;
      overflow: hidden;
    }
    .userContont{
      width: 575rpx;
      float: right;
      font-size: 29rpx;
      margin-bottom: 20rpx;
      letter-spacing: 6rpx;
    }
    .bottomtext{
      margin-top: 20rpx;
      font-weight: 600;
    }
    .zhong{
      font-weight: 600;
      text-decoration:underline;
    }
    .titletwe{
      font-size: 36rpx;
      font-weight: 700;
      text-align: center;
      letter-spacing: 8rpx; 
    }
    .htmb{
      width: 100%;
      height: 100%;
      position: relative;
    }
    .custName{
      position: absolute;
      // top: -1077rpx;
      // left: 160rpx;
      top: 145rpx;
      left: 170rpx;
      font-size: 24rpx;
      z-index: 100;
    }
    .creditCode{
      position: absolute;
      // top: -1037rpx;
      // left: 210rpx;
      top: 220rpx;
      left: 210rpx;
      font-size: 24rpx;
      z-index: 100;
    }
    .custName2{
      position: absolute;
      // top: -469rpx;
      // left: 298rpx;
      top: 810rpx;
      right: 50rpx;
      font-size: 24rpx;
      z-index: 100;
    }
    .year{
      position: absolute;
      // top: -459rpx;
      // left: 294rpx;
      top: 840rpx;
      right: 50rpx;
      font-size: 24rpx;
      z-index: 100;
    }
    .month{
      position: relative;
      top: -489rpx;
      left: 500rpx;
      font-size: 24rpx;
      z-index: 100;
    }
    .day{
      position: relative;
      top: -519rpx;
      left: 557rpx;
      font-size: 24rpx;
      z-index: 100;
    }
    .bottomtext{
      margin-top: 20rpx;
      font-weight: 600;
    }
    .fontweight{
      font-weight: bold;
    }
  }
}
.bottom {
  background: rgba(255,255,255,0.94);
  box-shadow: 0 0 27rpx 0 rgba(7,102,255,0.07);
  width: 100%;
  position: fixed;
  bottom: 0;
  .btn_submit {
    width: 690rpx;
    margin: 20rpx auto;
  }
}